section{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 500px 500px 500px;
    column-gap: 3%;
    row-gap: 50px; 
    text-align: center;
    color: white;
    grid-template-areas:
    "article1 arcticle2 article3"
    "article4 article5 article6";
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #042553;    
}

#a1>h2{
    background-color: coral;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a2>h2{
    background-color: #ecd346;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a3>h2{
    background-color: #2d8aa7;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a4>h2{
    background-color: coral;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a5>h2{
    background-color: #ecd346;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a6>h2{
    background-color: #2d8aa7;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}