/*On retire les marge par défaut des elemements*/
body, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    color: white;
}

.class1{
display: flex;
flex-direction: row;
padding: 5px;
background-color: teal;
}
h4{
    text-align: center;
}
.class2{
    display: flex;
    justify-content: right;
}


header{
background-image: url(../img/banner.jpg);
font-size: 150px;
font-family: 'Quicksand', sans-serif;
text-align: center;
width: 100%;
height: 700px;
display: flex;
justify-content: center;
background-size: cover;
}
    

.button {
    background-color: #042553;
    color: white;
    padding: 40px 50px;
    text-align: center;
    display: inline-block;
    margin: 20px 4px;
    font-family:'Quicksand', sans-serif;
  }
  
.flex nav{
   background-color: #042553;
   font-size: 50px;
}

#navbar a{
    background-color:#042553;
    border: none;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
  }


section{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 500px 500px 500px;
    column-gap: 3%;
    row-gap: 50px; 
    text-align: center;
    color: white;
    grid-template-areas:
    "article1 arcticle2 article3"
    "article4 article5 article6";
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #042553;    
}

#a1>h2{
    background-color: coral;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a2>h2{
    background-color: #ecd346;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a3>h2{
    background-color: #2d8aa7;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a4>h2{
    background-color: coral;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a5>h2{
    background-color: #ecd346;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}
#a6>h2{
    background-color: #2d8aa7;
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0px;
}

/*-----------Slider CSS-------------*/

/*gestion de taille de la section du slider*/
#slider{
      height: 300px;
      display: flex;
      justify-content: center;
      margin: 2.5% 0 2.5% 0;
      font-size: 17px;
}
/**/
#slider-container{
    height:100%;
    width: 90%;
    position: relative;
    overflow: hidden; 
    text-align: center;
}
/*position du menu*/
.menu {
    position: relative;
    left: 0;
    z-index: 200;
    width: 100%;
    top: 90%;
}
/*style des radio pour les inputs*/ 
.menu label {
    display: inline-block;
    width: 10px;
    height: 20px;
    background: rgb(225, 220, 220);
    border-radius: 50px;
    margin: 0 .2em 1em;
}
/*changement de couleur au survol de des inputs radio*/
.menu label:hover {
    background: #042553;
}
/*sert à faire dispairaite les input de base*/
#radioSlider{
display: none;
}
/*div contenant les img du slider*/
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left .75s;
}
/*j'ai pas encore bien compris*/
/*selecteur en css*/
/* /!\ ne pas toucher, risque d'explosion */
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .5s;
}
/*gestion du contenu du slider*/
.slide-1 {
    background:no-repeat center/100% url(../img/slider1.jpg);
}
.slide-2 {
    background:no-repeat center/100%  url(../img/slide2.jpg);
    background-color: white;
}
.slide-3{
    background: #042553;
    /*padding: 5% 0 0 0;*/

}
.slide-3 p{
    padding: 4% 2% 4% 2%;
}
.slide-3 h2{
    padding: 2% 0 0 0;
}

/*Media pour les tablettes*/
@media screen and (max-width: 1024px) {
    .menu {
        top: 80%;
    }

    
}

/*Media pour les Télephone*/
@media screen and (max-width:600px) {
    .menu {
        top: 70%;
    }
    
}

/*---------fromulaire de contact-------*/
#form{
    background-color:#042553;
    text-align: center;
    margin: 2.5% 0 2.5% 0;
}
h2{
    padding-top: 1%;
}

#contenuFrom{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 2fr
    1fr;
    grid-template-areas:
    "headerContact headerContact "
    "zText zText "
    ". boutton";
}
#headerContact{
    grid-area: headerContact;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
#objet{
    height: 60%;
    width: 50%;
}
#objet input{
    margin: 0;
    width: 80%;

}
#email{
    width: 50%;
    height: 50%;
}
#email input{
    margin: 0;
    width: 70%;
    height: 80%;
}
#zText{
    grid-area: zText;
}
#zText textarea{
    height:100%;
    width: 89%;
}

.boutton{
    grid-area: boutton;
    padding: 2.5% 0 2.5% 70%;
    
}
/*-------------footer-----------*/
#footerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #042553; 
    height: 20vh;
}
#footerMain p,a{
    color: white;
    text-decoration: none;
}
#footerMain a:hover{
    color: red;
}
/*icon des réseau*/
#reseau{
    display: flex;
    justify-content: center;
    width: 100%;
}
#reseau img{
    width: 40px;
    margin-left: 10px;
}
/*------------fin footer-----------*/

