/*On retire les marge par défaut des elemements*/
body, h1, h2, h4, h5, h6{
    margin: 0;
    padding: 0;
    color: white;
}
/*-----------------header-----------------*/
header{
    font-size: 90px;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), no-repeat center/100% url(../img/banner.jpg);
}
/*-----------navbar-----------*/
#burger{
    display: none;
    margin: auto;
    width: 40px;
}
.test {
        height: 30px;
}

.bouttonRecherche{
    background-color: #62220A;
    border: unset;
    width: 40px;
    border-radius: 0 20px 20px 0;
}
.barreRecherche{
    width: 20rem;
}
.recherche{ 
    display: flex;
    font-family:'Quicksand', sans-serif;
    margin-right: 1%;

}
    .flex{
        background-color: #042553;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        height: 90px;
      }
    .flex nav{
       font-size: 20px;
    }
    
    #navbar a{
        padding: 10px 25px 30px 25px;
        text-decoration: none;
        color: white;
}

#navbar a:hover{
    border-bottom: 4px solid white;
}



/*-----------Slider CSS-------------*/

/*gestion de taille de la section du slider*/
#slider{
      height: 300px;
      display: flex;
      justify-content: center;
      margin: 2.5% 0 2.5% 0;
      font-size: 17px;
}
/**/
#slider-container{
    height:100%;
    width: 90%;
    position: relative;
    overflow: hidden; 
    text-align: center;
}
/*position du menu*/
.menu {
    position: relative;
    left: 0;
    z-index: 200;
    width: 100%;
    top: 90%;
}
/*style des radio pour les inputs*/ 
.menu label {
    display: inline-block;
    width: 10px;
    height: 20px;
    background: rgb(225, 220, 220);
    border-radius: 50px;
    margin: 0 .2em 1em;
}
/*changement de couleur au survol de des inputs radio*/
.menu label:hover {
    background: #042553;
}
/*sert à faire dispairaite les input de base*/
#radioSlider{
display: none;
}
/*div contenant les img du slider*/
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left .75s;
}
/*j'ai pas encore bien compris*/
/*selecteur en css*/
/* /!\ ne pas toucher, risque d'explosion */
[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .5s;
}
/*gestion du contenu du slider*/
.slide-1 {
    background:no-repeat center/100% url(../img/slider1.jpg);
}
.slide-2 {
    background:no-repeat center/100%  url(../img/slide2.jpg);
    background-color: white;
}
.slide-3{
    background: #042553;
    /*padding: 5% 0 0 0;*/

}
.slide-3 p{
    padding: 4% 2% 4% 2%;
}
.slide-3 h2{
    padding: 2% 0 0 0;
}

/*---------------articles---------------*/
/*Positionnement des articles*/
#articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    column-gap: 3%;
    row-gap: 50px;
    margin: 0 5% 0 5%;
    text-align: center;
    color: white;

}
article p{
    margin-right: 2.5%;
    margin-left: 2.5%;
}

/*Propriétés des articles*/
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #042553;
}

/*Propriétés bandeaux articles*/
.banner{
    width: 100%;
    height: 40px;
    background-size: cover;
    margin: 0px;
    padding-top: 3%;
}

/*Propriétés des images des articles*/
.image{
    background-origin: center;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
}

/*Article 1*/
#a1>h2{
    background-color: coral;   
}
#img1{
    background-image: url("../img/systeme_solaire.png");
}

/*Article 2*/
#a2>h2{
    background-color: #ecd346;
}
#img2{
    background-image: url("../img/imgslide2.png");  
}

/*Article 3*/
#a3>h2{
    background-color: #2d8aa7;
}
#img3{
    background-image: url("../img/realistic_galaxy.jpg");
}

/*Article 4*/
#a4>h2{
    background-color: coral;
}
#img4{
    background-image: url("../img/imgslider1.png");
}

/*Article 5*/
#a5>h2{
    background-color: #ecd346;
}
#img5{
    background-image: url("../img/ceinture-asteroides.png");
}

/*Article 6*/
#a6>h2{
    background-color: #2d8aa7;
}
#img6{
    background-image: url("../img/montre_astro.jpg");
}

/*Images d'intersection*/
#astro{
    background-image: url("../img/4698692.png");
    background-origin: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    margin: 4% 0 4% 0;
}
#satelite{
    background-image: url(../img/4698769.png);
    background-origin: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    margin: 4% 0 4% 0;
}
#earth{
    background-image: url("../img/4698710.png");
    background-origin: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    margin: 4% 0 4% 0;
}


/*---------fromulaire de contact-------*/
#form{
    background-color:#042553;
    text-align: center;
    margin: 2.5% 0 2.5% 0;
}
h2{
    padding-top: 1%;
}

#contenuFrom{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr
    1fr;
    grid-template-areas:
    "headerContact headerContact "
    "zText zText "
    ". boutton";
}
#headerContact{
    grid-area: headerContact;
    display: grid;
    row-gap: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    width: 100%;
}
#objet{
    grid-row: 2;
    margin-left: 10%;
    height: 60%;
    width: 50%;
}
#objet input{
    margin: 0;
    width: 80%;
    height: 80%;

}
#email{
    margin-left: 6%;
    width: 60%;
    height: 80%;
}
#email input{
    margin: 0;
    width: 68%;
    height: 80%;
}
#zText{
    grid-area: zText;
}
#zText textarea{
    height:100%;
    width: 89%;
}

.boutton{
    grid-area: boutton;
    padding: 2.5% 0 2.5% 70%;
    
}

#contact{
    grid-row: 1/3;
    background-origin: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    margin: 4% 0 4% 0;
    background-image: url(../img/4698746.png);
}
/*-------------footer-----------*/
#footerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #042553; 
    height: 20vh;
}
#footerMain p,a{
    color: white;
    text-decoration: none;
}
#footerMain a:hover{
    color: red;
}
/*icon des réseau*/
#reseau{
    display: flex;
    justify-content: center;
    width: 100%;
}
#reseau img{
    width: 40px;
    margin-left: 10px;
}
/*------------fin footer-----------*/
/*Media pour les tablettes*/
@media screen and (max-width: 1024px) {
    .menu {
        top: 80%;
    }
    nav, .recherche{
        display:none;
    }
    #burger{
        display: block;
    }
    h1{
        font-size: 60px;
    }
    header{
        height: 200px;
    }

    #contenuFrom{
        margin-top: 2%;
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 2fr
        1fr;
        grid-template-areas:
        "headerContact"
        "zText "
        ". boutton";
    }
    #articles{
        grid-template-columns: 1fr;
    }

    
}

/*Media pour les Télephone*/
@media screen and (max-width:600px) {
    .menu {
        top: 70%;
    }
    header{
        height: 100px;
    }
    
}